.banner {
  background-image: linear-gradient( rgba(8, 8, 8, 0.8), rgba(8, 8, 8, 0.8)), url(./img/g2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.imgOpacity {
  transition: opacity 0.3s;
}

.imgOpacity:hover {
  opacity: 0.7; 
}

.number-style {
  font-size: 3rem;       
  font-weight: bold;     
  color: #00cfff;        
  font-family: Arial, Helvetica, sans-serif;       
}

/* hacer mediaquery del carrousel */

.imgSlider {
  background-image: url(./img/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
  height: 50vh;
  margin: 0;
  padding: 0;
}

.imgSlider2 {
  background-image: url(./img/g5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
  height: 50vh;
  margin: 0;
  padding: 0;
}

.opensans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #777;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


h2 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #777;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.shadowCustom:hover {
  box-shadow: 10px 10px 5px 0px rgba(138,138,138,0.3);
  border: 1px solid rgba(138,138,138,0.3);
}

.icon-hover {
  transition: transform 0.7s ease, color 0.3s ease; 
}

.icon-hover:hover {
  transform: scale(1.1); 
  color: #424649 !important; 
}

.image-container {
  overflow: hidden;
}

.zoom-effect {
  width: 100%; 
  height: auto;
  transition: transform 0.8s ease; 
}

.image-container:hover .zoom-effect {
  transform: scale(1.5); 
}

.front {
  z-index: 1000;
}

.animate__flipInX {
  --animate-duration: 5s;
}

.number-style {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.number-style.animated {
  opacity: 1;
  transform: translateY(0);
}

.hero-large-text {
  font-size: 5rem;
}